/**estilos sobre el body**/
body{
background-color: burlywood;
}

/**estilos sobre el main**/
main{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;

}

main img{
    display: block;
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vh;
}

.navbarItem{
    background-color: saddlebrown;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.navbarItem:hover{
    background-color: rgb(138, 86, 49);
}

/**Estilos sobre el titulo principal**/
h1{
    background-color: saddlebrown;
    text-align: center;
    color: black;
}

/**Estilos de titulo secundario**/
h2{
    text-align: center;
}

/**estilos sobre parrafo**/
p{
    text-align: justify;
    color: black;
}

/**estilo de la lista**/
li{
text-align: justify;
}

/**estilos de footer**/
footer{
    justify-items: center;
    font-weight: 900;
}

.imgsocios{
    display: flex;
    justify-content: center;
}

.clientlist{
list-style: square;
list-style-position: inside;
}

.iniciovideo{
    display: flex;
    flex-direction: column;
    align-items: center
    ;
}

video{
    width: 75%;
    height: 75%;
    align-content: center;
}

.form{
    display: grid;
    padding: 30px;
    font-size: large;
    font-weight: 600;
}

.form__name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form__lastname{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form__email{
    display: flex;    
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form__phone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form__sex{
    display: flex;
    justify-content: center;
    padding: 25px;

}

.form__consult{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.button{
    display: flex;
    padding: 10px;
    justify-content: end;
}

.button__consultar{
border-radius: 10px;
text-decoration:none;
font: weight 600px;
font-size:15px;
color:#ffffff;
padding-top: 15px;
padding-bottom:3px;
padding-left:50px;
padding-right:50px;
background-color:saddlebrown
}

.button__consultar:hover{
    background-color: rgb(138, 86, 49);
}

.form__acceder{
    font-weight: 600;
}

/**media para tabletas**/
@media  (min-width: 600px) {
    body {
    }
    main{
      display: flex;
      flex-direction: column;
    }

    main img{
      margin: 0,5vh;

    }
    .navbar{
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
    }
}

/**media para celulares**/
@media (max-width: 600px) {
    body {
      }
      main{
        display: flex;
        flex-direction: column;
        
      }
      main img{
        margin: 0,5vh;

      }
      .navbar{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
      }

  }