/**estilos sobre el body**/
body{
background-color: burlywood;
}

/**estilos sobre el main**/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 10px;
}
main img{
    width: 20vh;
    height: 20vh;

}

.navbar{
    display: flex;
    flex-wrap: wrap;


}

.navbarItem{
    display: flex;
    background-color: saddlebrown;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    
    
    justify-content: center;
}

/**Estilos sobre el titulo principal**/
h1{
    background-color: saddlebrown;
    text-align: center;
    color: black;
}

/**estilos sobre parrafo**/
p{
    text-align: justify;
    color: black;
}

/**estilo de la lista**/
li{
list-style: none;
text-align: center;
}

/**estilos de footer**/
footer{
    justify-items: center;
    font-weight: 900;
}